<!DOCTYPE html>
<html lang="en">
<head>
    <title>MyTravelAdvisor</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
    <h1>California Travel </h1>
    #if($name != "anonymous")
      <h5>Hello, $name! </h5>
    #end
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3> Hotels in San Francisco: </h3>
            #foreach( $hotel in $hotels)
            <p>$hotel</p>
            #end

        </div>
    </div>
</div>
</body>
</html>
